.calender_entry{
    background-color:#eee;
}

body,html{
    width: 100%;
    display: grid;
}

.page-center {
    margin: 100px;
    width: 50%;
    padding: 10px;
    text-align: center;
    height: 100px;
}
.my-style {
    font-family: 'Courier New', Courier, monospace;
}