{% extends "myapp/base.html" %}

{% block content %}

<div class="container form-group">   
        <br>
        <div class="row">
       <div class="col-lg-6">
            <h2>Add A NEW ENTRY</h2>
       </div>
       <div class="col-lg-6">
            <button onclick="window.location='{% url 'index' %}'" class="btn btn-dark">Go Back</button>
       </div>
        </div>
        
<form action="" method="POST">
{% csrf_token %}
{{form.as_p}}
<button class="btn btn-success" type="submit">Submit</button>
</form>
            
</div>
{% endblock %}